*{
    padding:0;
    margin: 0;
}


body{
    background: rgb(240, 237, 232);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

h2,h3{
    color: #4dad7d;
}
h2{
    font-size: 1.8em;
    margin-bottom: 5px;
}
h3{
    background: rgb(226, 223, 219);
    color: #215c3e;
    font-size: 1.5em;
    padding: 5px
}

#head{
    background:#66dda1;
    padding: 60px;
    text-align: center;
    border-bottom:  2px solid black;
}

.title{
    font-size: 4em;
    padding-bottom: 40px;
}
.blog{
    color: rgb(248, 234, 234);
}


/* ----- Links -----  */ 
a{
    text-decoration: none;
    font-size: 1.2em;
    
}
a:visited, .links a:link{
    color:#4dad7d;
}

a:hover{
    color:#215c3e;
    text-decoration: underline;
    
}


.links a{
    padding: 8px 12px;
    color:rgb(255, 255, 255);
    font-size: 1.5em;
}

.links a:visited, .links a:link{
    color:rgb(255, 255, 255);
}

.links a:hover{
    text-decoration: none;
    color:#215c3e;
    background:whitesmoke;
    padding: 5px 10px;
}


/* ---- Principal Area ---- */

#principal-area{
    width: 920px;
    margin: 30px auto;
}

/* --- Box of posts --- */
#posts{
    background:white;
}

#posts{
    
    width: 660px;
    float: left;
}

.content{
    padding: 15px;
    margin: 20px 10px;
}

.data-post{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
}

/* ---- Lateral Area ---- */

#lateral-box{
    width: 240px;
    float: right;

}

/* --- Boxes --- */

.boxes{
    display:block;
    background: white;
    padding: 12px;
    margin-bottom: 20px;
}

.lateral-content{
    padding: 10px;
}



#baseboard{
    background: #6af5af;
    display:block;
    width: 200px;
    font-weight: bold;
    margin: 0 auto;
    border: 3px solid rgba(27, 88, 27, 0.726);
    color: rgb(27, 88, 27);
    text-align: center;
    clear: both;
    padding: 0px;
}

